<%- include('../partials/adminPartials/header.ejs') -%>

        <section class="content-main">
            <form action="/admin/addProducts" method="post" enctype="multipart/form-data">
            <div class="row">       
                <div class="col-6">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                        <div>
                            <button class="btn btn-md rounded font-sm hover-up" type="submit">Add Product</button>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>1. General info</h6>
                                </div>
                                <div class="col-md-9">

                                    <div class="mb-4">
                                        <label class="form-label">Product title</label>
                                        <input type="text" name="name" placeholder="Type here" class="form-control">
                                    </div>

                                    <div class="mb-4">
                                        <label class="form-label">Description</label>
                                        <textarea placeholder="Type here" name="description" class="form-control" rows="4"></textarea>
                                    </div>

                                    <div class="mb-4">
                                        <label class="form-label">Category</label>
                                        <select name="category" class="form-select">

                                          <% category.forEach(catData => { %>
                                            <option value="<%= catData._id %>"><%= catData.categorieName %></option>
                                          <% }) %>
                                          
                                        </select>
                                    </div>
                                    
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>2. Pricing</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Cost in INR</label>
                                        <input type="text" name="price" placeholder="₹00.0" class="form-control">
                                    </div>
                                </div> 
                            </div> 
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>3. Quantity</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Product Quantity</label>
                                        <input type="text" name="productQuantity" placeholder="Quantity" class="form-control">
                                    </div>
                                </div> 
                            </div> 
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>4. Media</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Images</label>
                                        <input class="form-control" type="file" name="images" multiple required>
                                    </div>
                                </div> 
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </form>
        </section> 
    
<%- include('../partials/adminPartials/footer.ejs') -%>
