<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>OLEA Dashboard</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <!-- Favicon -->
        <!-- Template CSS -->
        <link href="/assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <main>
            <header class="main-header style-2 navbar">
                <div class="col-brand">
                    <a href="index.html" class="brand-wrap">
                        <img src="/assets/imgs/theme/logo.jpg" class="logo" alt="Nest Dashboard" />
                    </a>
                </div>
                <div class="col-nav">
                    <ul class="nav">
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="" alt="User" /></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>


            <section class="content-main mt-80 mb-80">
                <div class="card mx-auto card-login">
                    <div class="card-body">
                        <h4 class="card-title mb-4 text-center">Olea Admin Sign in</h4>
                            <form action="" method="post">
                                <div class="mb-3">
                                    <input class="form-control" name="email" placeholder="Username or email" type="text" />
                                </div>
                                <!-- form-group// -->
                                <div class="mb-3">
                                    <input class="form-control" name="password" placeholder="Password" type="password" />
                                </div>
                                <!-- form-group form-check .// -->
                                <% if (typeof message !== "undefined") { %>
                                    <p class="text-danger"><%= message %></p>
                                <% } %>
                                <div class="mb-4">
                                    <button type="submit" class="btn btn-primary w-100">Login</button>
                                </div>
                                <!-- form-group// -->
                            </form> 
                    </div>
                </div>
            </section>


        </main>
        <script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="/assets/js/main.js?v=1.1" type="text/javascript"></script>
    </body>
</html>
